*
{
	margin: 0;
	padding: 0;
}

header
{
	background-image: url(blog.png);
	height: 100vh;
	background-size: cover;
	background-position: center;
	
}
.main-nav
{
	float: right;
	list-style: none;
	margin-top: 30px;
}
.main-nav li
{
	display: inline-block;
}
.main-nav li a
{
	color: white;
	text-decoration: none;
	padding: 5px 20px;
	font-family: "Roboto", sans-serif;
	font-size: 15px;
}
.main-nav li.active a
{
	border: 1px solid white;
}
.main-nav li a:hover
{
	border: 1px solid white;
}
.body
{
	margin: 0;
	padding: 0;
	background : url(pic.png);
	background-size: cover;
	background-position: center;
	font-family: sans-serf;
}